@use "../variables.module.scss" as vars;

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .passwordIcon {
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
  }
}

.passwordRequirements {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 1.25rem;
  font-size: vars.$error-font-size;

  .correct {
    color: vars.$valid-border-color;
  }

  li.invalid {
    color: vars.$error-color;
  }
}
