$text-color: #4a4e71;
$error-color: #ff8080;
$error-bg-color: #fdefee;
$valid-border-color: #27b274;
$focus-border-color: #151d51;
$focus-text-color: #151d51;
$valid-text-color: #27b274;

$heading-font-size: 1.75rem;
$error-font-size: 0.8rem;

$input-font-size: 1rem;
$input-border-radius: 10px;
$input-padding: 10px 10px 10px 20px;

$button-font-size: 1rem;
$button-border-radius: 30px;
$button-line-height: 14px;
$button-padding: 15px 32px;

$valid-bg-color: rgba(92, 214, 192, 0.1);
